target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build-*.log
bootstrap-*.log


*.log
logs/
*.log.*
*.log-*.log

.idea/
*.iml
*.ipr
*.iws
out/


.classpath
.project
.settings/


.vscode/

==============================================================
.DS_Store
Thumbs.db
ehthumbs.db


.mvn/wrapper/maven-wrapper.jar


application-local.properties
application-dev.properties